# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Bun
bun.lockb

# Examples
examples/*/node_modules
examples/*/dist
examples/*/.env
examples/*/.env.local
